{% set display_left_navbar = is_granted("ROLE_SUPER_ADMIN") or (
    feature_toggling.repositories and is_granted("ROLE_USER")
) %}
{% if display_left_navbar %}
<ul class="nav navbar-nav navbar-left">
{% endif %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <li{% if active_menu_item == 'dashboard' %} class="active"{% endif %}>
            <a href="{{ path('weaving_the_web_dashboard_show_documents') }}">{{ "menu.dashboard"|trans({}, 'menu') }}</a>
        </li>
        {% if feature_toggling.emails %}
            <li{% if active_menu_item == 'emails' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_mail_show_collapsed_mails') }}">{{ "menu.emails"|trans({}, 'menu') }}</a>
            </li>
        {% endif %}
        {% if feature_toggling.statuses %}
            <li{% if active_menu_item == 'tweets' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_tweet_github') }}">{{ "menu.tweets"|trans({}, 'menu') }}</a>
            </li>
        {% endif %}
    {% endif %}
    {% if feature_toggling.repositories and is_granted("ROLE_USER") %}
        <li{% if active_menu_item == 'github_repositories' %} class="active"{% endif %}>
            <a href="{{ path('weaving_the_web_dashboard_show_repositories') }}">{{ "menu.github_repositories"|trans({}, 'menu') }}</a>
        </li>
    {% endif %}
{% if display_left_navbar %}
</ul>
{% endif %}
