{% if is_granted("ROLE_SUPER_ADMIN") %}
<ul class="nav navbar-nav navbar-left">
    <li class="dropdown{% if active_menu_item == 'dashboard_documents' or
        active_menu_item == 'dashboard_jobs' %} active{% endif %}">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#" role="button"
           aria-haspopup="true"
           aria-expanded="false">
            {{ 'menu.dashboard.parent'|trans({}, 'menu') }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li{% if active_menu_item == 'dashboard_documents' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_show_documents') }}">{{ "menu.dashboard.documents"|trans({}, 'menu') }}</a>
            </li>
            <li{% if active_menu_item == 'dashboard_jobs' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_job_show_jobs') }}">{{ "menu.dashboard.jobs"|trans({}, 'menu') }}</a>
            </li>
            {% if feature_toggling.emails %}
            <li{% if active_menu_item == 'emails' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_mail_show_collapsed_mails') }}">{{ "menu.emails"|trans({}, 'menu') }}</a>
            </li>
            {% endif %}
            {% if feature_toggling.statuses %}
            <li{% if active_menu_item == 'tweets' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_tweet_github') }}">{{ "menu.tweets"|trans({}, 'menu') }}</a>
            </li>
            {% endif %}
            {% if feature_toggling.repositories and is_granted("ROLE_USER") %}
            <li{% if active_menu_item == 'github_repositories' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_show_repositories') }}">{{ "menu.github_repositories"|trans({}, 'menu') }}</a>
            </li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endif %}
