<!DOCTYPE html>
<html lang="en" ng-app="WTW">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} :: Weaving The Web experiments</title>
    {% block stylesheets %}{% include "::stylesheets.html.twig" %}{% endblock %}
    {% image 'tesseract.ico' %}
    <link rel="shortcut icon" href="{{ asset_url }}"/>
    {% endimage %}
</head>
<body>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('fos_user_registration_register') }}">Weaving the Web</a>
        <ul class="nav">
            {% if not active_menu_item is defined %}
            {% set active_menu_item = '' %}
            {% endif %}
            {% if is_granted("ROLE_SUPER_ADMIN") %}
            <li{% if active_menu_item == 'dashboard' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_show_documents') }}">Dashboard</a>
            </li>
            {% endif %}
            <li{% if active_menu_item == 'github_repositories' %} class="active"{% endif %}>
                <a href="{{ path('weaving_the_web_dashboard_show_repositories') }}">Github Repositories</a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="nav">
                {# authentication status #}
                {% spaceless %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <p class="navbar-text">
                        <a href="{{ path('weaving_the_web_user_show_settings')  }}">
                            {{ app.user.username }}
                        </a>
                    </p>
                {% endif %}
                {% endspaceless %}
            </li>
            <li class="nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                {% else %}
                    {% block navigation_login %}
                    <a class="nav" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {%  endblock navigation_login %}
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% block body %}{% endblock body %}
{% block javascripts %}{% include "::javascripts.html.twig" %}{% endblock javascripts %}
</body>
</html>
