<div class="collapse navbar-collapse" id="weaving-the-web-navbar">
    {% embed '::_navbar_left.html.twig' %}{% endembed %}
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="dropdown{% if active_menu_item == 'profile_settings' or
                active_menu_item == 'oauth_settings' %} active{% endif %}">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#" role="button"
               aria-haspopup="true"
               aria-expanded="false">
               {{ 'menu.settings.parent'|trans({}, 'menu') }}
               <span class="caret"></span>
            </a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul class="dropdown-menu">
                <li{% if active_menu_item == 'profile_settings' %} class="active"{% endif %}>
                    {% spaceless %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('weaving_the_web_user_show_settings') }}">
                                {{ app.user.username }}
                            </a>
                        {% endif %}
                    {% endspaceless %}
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li{% if active_menu_item == 'oauth_settings' %} class="active"{% endif %}>
                    <a href="{{ path("weaving_the_web_dashboard_settings_oauth_show_settings") }}">
                        {{ "menu.settings.oauth_clients"|trans({}, 'menu') }}
                    </a>
                </li>
                <li{% if active_menu_item == 'remote_settings' %} class="active"{% endif %}>
                    <a href="{{ path("weaving_the_web_dashboard_settings_add_remote") }}">
                        {{ "menu.settings.remotes"|trans({}, 'menu') }}
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </li>
        {% endif %}
        <li>
            {% include "::sitemap.html.twig" %}
        </li>
    </ul>
</div>
