{% trans_default_domain 'FOSUserBundle' %}

<div class="row-fluid">
    <h2>{{ "title_register"|trans({}, 'security') }}</h2>
</div>
<form action="{{ path('fos_user_registration_register') }}"
      id="register" {{ form_enctype(form) }}
      method="POST">
    <div class="row-fluid">
        {% for exception in exceptions %}
        {% if exception is defined %}<span class="text-error">{{ exception|trans([], 'security') }}</span>{% endif %}
        {% endfor %}
        {{ form_widget(form) }}
        <button class="btn" type="submit">{{ 'registration.submit'|trans }}</button>
    </div>
</form>
