{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form _self %}

{% block form_label %}
{% spaceless %}
    {% if label is defined and label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

<div class="row-fluid">
    <h2>{{ "title_register"|trans({}, 'security') }}</h2>
</div>
<form action="{{ path('fos_user_registration_register') }}" id="register" {{ form_enctype(form) }} method="POST">
    <div class="row-fluid">
        {% for exception in exceptions %}
        {% if exception is defined %}<span class="text-error">{{ exception|trans([], 'security') }}</span>{% endif %}
        {% endfor %}
        {% set fields = [
                'username',
                'email',
                'plainPassword'
            ]
        %}
        {% for field in fields %}
        <div class="row-fluid">
            <div class="control-group{% if form_errors(form[field]) %} error{% endif %}">
                {% if form_errors(form[field]) %}
                <ul class="">
                    <li class="control-label">{{ ('registration.error.' ~ field)|trans([], 'security') }}</li>
                </ul>
                {% endif %}
                <div class="row-fluid">
                    {% if field == 'email' or field == 'username' %}
                    {{ form_label(form[field]) }}
                    {% endif %}
                    {{ form_widget(form[field]) }}
                </div>
            </div>
        </div>
        {% endfor %}
        {{ form_rest(form) }}
        <button class="btn btn-default" type="submit">{{ 'registration.submit'|trans }}</button>
    </div>
</form>
