{% extends "::base.html.twig" %}

{% block title %}{{ "title.tweet.time_series"|trans([], 'dashboard') }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div id="time-series-mentions"></div>
    <table class="table table-condensed" id="aggregated-mentions">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

<script>
var token = '{{ token }}';
var keywords = JSON.parse('{{ keywords|raw }}');
var since = '{{ since|raw }}';
var until = '{{ until|raw }}';
</script>
{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets
        '@WeavingTheWebDashboardBundle/Resources/public/components/metrics-graphics/dist/metricsgraphics.css'
        '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
        output='css/compiled/show-time-series.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}

    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/components/jquery/dist/jquery.min.js'
        '@bootstrap_js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/d3/d3.js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/metrics-graphics/dist/metricsgraphics.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/format-date.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/time-series.js'
        output='js/show-time-series.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}

