<a href="{{ value }}">
{% if columns.hid_img is defined %}
<img src="{{ columns.hid_img }}" />
{% elseif columns.hid_trc_label is defined %}
<p class="shorten" title="{{ columns.hid_trc_label|raw }}">
    {{ columns.hid_trc_label|truncate(15, true)|trim }}
</p>
{% else %}
{{ value }}
{% endif %}
</a>

