<tr>
{% for name, value in columns %}
    <td>
    {% if name|should_export %}

        {{ value|get_export_button }}

    {% elseif name|should_not_alter %}

        {{ value|raw }}

    {% elseif name|should_render_as_image %}

        {{ value|get_image }}

    {% elseif name|should_render_as_link %}

        {{ value|get_link(columns) }}

    {% elseif name|should_truncate %}

        {{ value|get_truncated_text }}

    {% elseif name|should_pre_format %}

        {% if name|should_render_as_editable %}
            {{ value|get_editable_content(columns) }}
        {% else %}
            {{ value|get_pre_formatted_text }}
        {% endif %}

    {% elseif name|should_be_actionable %}

        {{ value|get_button(columns) }}

    {% elseif not name|should_hide and not name|should_export  %}

        {{ value }}

    {% elseif name|should_hide and name|should_render_as_json %}

        {{ value|get_raw_json }}

    {% elseif name|should_hide %}

        {{ value|get_hidden_content }}

    {% endif %}
    </td>
{% else %}
    {{ columns }}
{% endfor %}
</tr>
