<tr>
{% for name, value in columns %}
    <td>
    {% set starts_with = name|slice(0,4) %}
    {% set follows_with = name|slice(4,4) %}
    {% if starts_with == 'exp_' %}
        {{ value|get_export_button }}
    {% endif %}
    {% if starts_with == "raw_" %}
        {{ value|raw }}
    {% elseif starts_with == "img_" %}
        {{ value|get_image }}
    {% elseif starts_with == "lnk_" %}
        {{ value|get_link(columns) }}
    {% elseif starts_with == "trc_" %}
        {{ value|get_truncated_text }}
    {% elseif starts_with == "pre_" %}
        {{ value|get_pre_formatted_text }}
    {% elseif starts_with == "btn_" %}
        {{ value|get_button(columns) }}
    {% elseif starts_with != "hid_" and starts_with != "exp_"  %}
        {{ value }}
    {% elseif starts_with == "hid_" and follows_with == 'jsn_' %}
        {{ value|get_raw_json }}
    {% elseif starts_with == "hid_" %}
        {{ value|get_hidden_content }}
    {% endif %}
    </td>
{% else %}
    {{ columns }}
{% endfor %}
</tr>
