{% extends "::base.html.twig" %}

{% block title %}{{ 'job.dashboard.title'|trans({}, 'job') }}{% endblock %}

{% block body %}
<div class="container">
    <button class="btn btn-default"
            data-action="export-perspectives">
        {{ 'job.label.export_perspectives'|trans({}, 'job') }}
    </button>
    <ul data-listen-event="job:created"></ul>
    <input data-request-prop="scheme-host" type="hidden" value="{{ remote.host }}">
    <input data-request-prop="header" data-key="Authorization" type="hidden" value="Bearer {{ remote.accessToken }}">
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/js/job.js'
        output='js/compiled/show-jobs.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@WeavingTheWebDashboardBundle/Resources/public/css/jobs.css'
        output='css/compiled/show-jobs.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
