<h2>{{ 'oauth.create_client.title'|trans({}, 'oauth') }}</h2>
<div class="row-fluid">
    {% embed 'WeavingTheWebDashboardBundle:Settings/OAuthClient:_flash_messages.html.twig'
        with {'prefix': 'create_client_'} %}{% endembed %}

    {% for flashMessage in app.session.flashbag.get('create_client_link') %}
    <div contenteditable="true" class="alert alert-info">
        {{ flashMessage|nl2br }}
    </div>
    {% endfor %}

    {{ form_start(create_oauth_client_form) }}
    {{ form_row(create_oauth_client_form.redirect_uri) }}
    {{ form_end(create_oauth_client_form) }}
</div>
