<h2>{{ 'remote.add_remote.title'|trans({}, 'remote') }}</h2>
<div class="row-fluid">
    {% embed 'WeavingTheWebDashboardBundle:Settings:_flash_messages.html.twig'
        with {'prefix': 'add_remote_'} %}{% endembed %}
    {{ form_start(add_remote_form) }}
    {{ form_row(add_remote_form.remote) }}
    {{ form_row(add_remote_form.access_token) }}
    {{ form_end(add_remote_form) }}
</div>

