{% extends '::base.html.twig' %}

{% block title %}{{ 'remote.add_remote.title'|trans({}, 'remote') }}{% endblock %}

{% block body %}

<div class="container">
    <div class="col-sm-6">
        <h2>{{ 'remote.add_remote.title'|trans({}, 'remote') }}</h2>
        <div class="row-fluid">
            {% for flashMessage in app.session.flashbag.get('add_remote_info') %}
            <div class="alert alert-info">
                {{ flashMessage|nl2br }}
            </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('add_remote_error') %}
            <div class="alert alert-danger">
                {{ flashMessage|nl2br }}
            </div>
            {% endfor %}

            {{ form_start(add_remote_form) }}
            {{ form_row(add_remote_form.remote) }}
            {{ form_row(add_remote_form.access_token) }}
            {{ form_end(add_remote_form) }}
        </div>

    </div>
</div>

{% endblock %}
