{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('weaving_the_web_dashboard_show_documents') }}"
              id="edit-query"
              method="post">
            <div class="form-group">
                <div>
                    <h1>{{ title }}</h1>
                    <label for="query"><b>Type your query:</b></label>
                </div>
                <div>
                    <textarea id="sql" cols="20" rows="5" name="query">{{ default_query }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="span2">
                    <input id="action-save-query" class="btn btn-default" type="button"
                           value="{{ 'document.button.save_query'|trans({}, 'document', 'en') }}" />
                </div>
            </div>
            <div class="form-group">
                <div class="span2">
                    <input id="action-export-query-execution-results" class="btn btn-default" type="submit"
                           value="{{ 'document.button.export_query_execution_results'|trans({}, 'document', 'en')}}" />
                </div>
            </div>
            <div class="form-group">
                <div class="span2">
                    <input class="btn btn-default" type="submit"
                           value="{{ 'document.button.execute_query'|trans({}, 'document', 'en') }}" />
                </div>
            </div>
        </form>
        <div class="form-group">
            <p id="notification" >
            {% if error is defined %}
            {{ error }}
            {% endif %}
            </p>
        </div>
        {% include 'WeavingTheWebDashboardBundle::perspective.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/js/dashboard.js'
        output='js/compiled/show-documents.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
        output='css/compiled/show-documents.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
