{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('weaving_the_web_dashboard_show_documents') }}"
              id="edit-query"
              method="post">
            <div class="form-group">
                <div>
                    <h1>{{ title }}</h1>
                    <label for="query"><b>Type your query:</b></label>
                </div>
                <div>
                    <textarea id="sql" cols="20" rows="5" name="query">{{ default_query }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="span2">
                    <input id="action-save-query" class="btn btn-default" type="button"
                           value="{{ 'document.button.save_query'|trans({}, 'document', 'en') }}" />
                </div>
            </div>
            <div class="form-group">
                <div class="span2">
                    <input class="btn btn-default" type="submit"
                           value="{{ 'document.button.execute_query'|trans({}, 'document', 'en') }}" />
                </div>
            </div>
             <div class="form-group">
                <p id="notification" >
                {% if error is defined %}
                {{ error }}
                {% endif %}
                </p>
            </div>
        </form>
        <div id="file-upload">
            <p>or<p>
            <form action="{{ oneup_uploader_endpoint('perspective') }}" id="perspective" class="dropzone">
            </form>
        </div>
        {% include 'WeavingTheWebDashboardBundle::perspective.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/components/crypto-js/crypto-js.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/decipher.js'
        output='js/compiled/deciphering-worker.js' %}
        <script src="{{ asset_url }}" type="javascript/worker"></script>
    {% endjavascripts %}
    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/components/crypto-js/crypto-js.js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/text-encoding/lib/encoding-indexes.js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/text-encoding/lib/encoding.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/decipher-natively.js'
        output='js/compiled/natively-deciphering-worker.js' %}
        <script src="{{ asset_url }}" type="javascript/worker"></script>
    {% endjavascripts %}
    {% javascripts
        '@WeavingTheWebDashboardBundle/Resources/public/components/crypto-js/crypto-js.js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/dropzone/dist/min/dropzone.min.js'
        '@WeavingTheWebDashboardBundle/Resources/public/components/file-saver.js/FileSaver.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/dashboard.js'
        '@WeavingTheWebDashboardBundle/Resources/public/js/drag-and-drop.js'
        output='js/compiled/show-documents.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
        '@WeavingTheWebDashboardBundle/Resources/public/components/dropzone/dist/min/basic.min.css'
        '@WeavingTheWebDashboardBundle/Resources/public/components/dropzone/dist/min/dropzone.min.css'
        output='css/compiled/show-documents.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
