{% extends "::base.html.twig" %}

{% block title %}{{ 'title.authorization'|trans({}, 'authorization') }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row col-sm-12">
            <p>{{ 'oauth.request_authorization'| trans({"{{ client_id }}": form.client_id.vars.value}, 'authorization') }}</p>
            <form action="{{ path('fos_oauth_server_authorize') }}" method="POST"
                  class="fos_oauth_server_authorize" {{ form_enctype(form) }}>

                <div class="form-group">
                    <input class="btn btn-default" type="submit" name="accepted"
                           value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}"/>
                    <input class="btn btn-default" type="submit" name="rejected"
                           value="{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}"/>
                </div>

                {{ form_row(form.client_id) }}
                {{ form_row(form.response_type) }}
                {{ form_row(form.redirect_uri) }}
                {{ form_row(form.state) }}
                {{ form_row(form.scope) }}
                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock %}

