{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
<div class="offset1 label label-important">{{ error|trans }}</div>
{% endif %}

<div class="offset1 span4">
    <div class="row-fluid">
        <h2>{{ "title_sign_in_with_wtw"|trans({}, 'security') }}</h2>
    </div>

    <form action="{{ path("fos_user_security_check") }}"
          id="login"
          method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="row-fluid">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="row-fluid">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>

        <div class="row-fluid">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me" class="label">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <div class="row-fluid">
            <button type="submit" id="_submit" name="_submit" class="btn">{{ 'security.login.submit'|trans }}</button>
        </div>
    </form>
</div>