{% trans_default_domain 'FOSUserBundle' %}

<div class="col-sm-4 col-md-4">
    <div class="form-group">
        <h2>{{ "title_sign_in_with_wtw"|trans({}, 'security') }}</h2>
    </div>

    <form action="{{ path("fos_user_security_check") }}" id="login" method="post">

        {% if error %}
        <div class="form-group">
            <div class="alert alert-error col-sm-9 col-md-9 alert-warning">{{ error|trans }}</div>
        </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" class="form-control">

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" class="form-control">
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
            <label for="remember_me" class="label label-default">{{ 'security.login.remember_me'|trans }}</label>
        </div>

        <div class="form-group">
            <button type="submit" id="_submit" name="_submit" class="btn btn-default">{{ 'security.login.submit'|trans }}</button>
        </div>
    </form>
</div>