{% trans_default_domain "user" %}

{% extends "::base.html.twig" %}

{% set title = 'title_settings'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container" id="settings">
        <div class="col-sm-12 col-md-12">
            <div class="form-group col-sd-6 col-md-6">
                <h1>{{ title }}</h1>
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-info">
                        {{ flashMessage|trans([], 'user') }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-error alert-warning">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <form action="{{ path("weaving_the_web_user_save_settings") }}" id="login" method="post">
                    {% set fields = [
                    'username',
                    'email',
                    'twitter_username',
                    'currentPassword',
                    ] %}
                    {% for field in fields %}
                        <div class="form-group">
                            <div class="control-group{% if form_errors(form[field]) %} error{% endif %}">
                                {% if form_errors(form[field]) %}
                                    {{ form_errors(form[field]) }}
                                {% endif %}
                                {{ form_label(form[field]) }}
                                {{ form_widget(form[field]) }}
                                {% if field == 'twitter_username' and form.vars.value.twitterUsername|trim|length > 0 %}
                                    <div class="form-group connect-to-twitter">
                                        <a class="btn btn-default"
                                           href="{{ path('weaving_the_web_user_connect_to_twitter') }}">{{ 'label_connect_to_twitter'|trans }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        {% if form_errors(form.plainPassword.first) %}
                            {{ form_errors(form.plainPassword.first) }}
                        {% endif %}
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>

                    <div class="form-group">
                        {% if form_errors(form.plainPassword.second) %}
                            {{ form_errors(form.plainPassword.second) }}
                        {% endif %}
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>

                    <div class="form-group">
                        {{ form_rest(form) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.save) }}
                        {{ form_widget(form.save) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@WeavingTheWebDashboardBundle/Resources/public/js/dashboard.js'
    output='js/compiled/settings.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
    output='css/compiled/settings.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
