{% trans_default_domain "user" %}

{% extends "::base.html.twig" %}

{% set title = 'title_settings'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="span11">
        <div class="offset1">
            <div class="row-fluid">
                <h1>{{ title }}</h1>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <form action="{{ path("weaving_the_web_user_save_settings") }}" id="login" method="post">
                        {% set fields = [
                                'username',
                                'email',
                                'twitter_username',
                                'currentPassword',
                            ]
                        %}
                        {% for field in fields %}
                        <div class="row-fluid">
                            <div class="control-group{% if form_errors(form[field]) %} error{% endif %}">
                            {% if form_errors(form[field]) %}
                            {{ form_errors(form[field]) }}
                            {% endif %}
                            {{ form_label(form[field]) }}
                            {{ form_widget(form[field]) }}
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row-fluid">
                            {% if form_errors(form.plainPassword.first) %}
                            {{ form_errors(form.plainPassword.first) }}
                            {% endif %}
                            {{ form_label(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first) }}
                        </div>

                        <div class="row-fluid">
                            {% if form_errors(form.plainPassword.second) %}
                            {{ form_errors(form.plainPassword.second) }}
                            {% endif %}
                            {{ form_label(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second) }}
                        </div>

                        <div class="row-fluid">
                            {{ form_rest(form) }}
                        </div>

                        <div class="row-fluid">
                            {{ form_label(form.save) }}
                            {{ form_widget(form.save) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts
    '@WeavingTheWebDashboardBundle/Resources/public/js/dashboard.js'
    output='js/compiled/dashboard.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{% stylesheets
    '@WeavingTheWebDashboardBundle/Resources/public/css/dashboard.css'
    output='css/compiled/dashboard.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
