{% trans_default_domain "user" %}

{% extends "::base.html.twig" %}

{% set title = 'title_settings'|trans %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="span11">
        <div class="offset1">
            <h1>{{ title }}</h1>
            <div class="row-fluid">
                <div class="span5">
                {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts
    '@WTWDashboardBundle/Resources/public/js/dashboard.js'
    output='js/compiled/dashboard.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{% stylesheets
    '@WTWDashboardBundle/Resources/public/css/dashboard.css'
    output='css/compiled/dashboard.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block submit_widget %}
{% spaceless %}
    {% set attr = {'class': 'btn'} %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}
{% form_theme form _self %}