{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="span12">
            <form method="post" action="{{ url('wtw_dashboard_show_documents') }}">
                <div class="row">
                    <div class="span13">
                        <div class="span7">
                            <h1>{{ title }}</h1>
                            <label for="query"><b>Type your query:</b></label>
                        </div>
                        <div class="span6">
                            <textarea id="query" rows="5" name="query">{{ default_query }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset1 span13">
                        <div class="span6">
                            <input class="btn" type="submit" value="Submit your query" />
                        </div>
                    </div>
                </div>
            </form>
            {% if error is defined %}
            <div class="row span13">
                {{ error }}
            </div>
            {% endif %}
            <div class="row span13">
                <table class="table table-condensed">
                {% for result_index, columns in results %}
                {% if loop.first %}
                <tr>
                    {% for name, value in columns %}
                    <td>{{ name }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
                <tr>
                    {% for name, value in columns %}
                    <td>{{ value }}</td>
                    {% else %}
                    {{ columns }}
                    {% endfor %}
                <tr>
                {% endfor %}
                </table>
            </div>
        </div>
    <div>
{% endblock %}